$plex-mono: 'IBM Plex Mono', monospace;
$plex-sans:  'IBM Plex Sans', sans-serif;

%boton {
    background-color: #00F3BB;
    cursor: pointer;
    height: 7vh;       
}

%gradiente-color-de-fondo {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);    
}

%hover-boton {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);    
}

%hover-a {
    color: #ffffff;
}

%subtitulos {
    color: #060A24;
    font-family: $plex-sans;
    font-size: 48px;
    margin-bottom: 2rem;    
    margin-left: 13rem;
}

%texto-parrafos {
    color: #060A24;
    font-family: $plex-mono;
    font-size: 16px;
    line-height: 24px;    
}

*{
    margin: 0%;
    padding: 0%;
}

.encabezado {
    background-color: #ffffff;
    display: block;
    font-family: $plex-mono;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;

    .menu {
        
        .boton-menu {
            position: absolute;
            visibility: hidden;
        }

        label {
            position: absolute;
            visibility: hidden;
        }
    
        .logo {
            float: left;
            margin: 1rem 5rem;
            width: 40vw;

            #logo-image {
                height: 30px;
                width: 30px;
            }
        }
    
        .menu-lista {
            display: inline-flex;
            float: left;
            margin: 1rem;
            width: 40vw;

            li {
                list-style: none;
                margin: 0% 5%;
    
                a {
                    text-decoration: none;
                }
    
                a:hover {
                    color: #00F3BB;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.introduccion {

    h1 {
        color: #060A24;
        font-family: $plex-sans;
        font-size: 64px;
        font-weight: normal;
        margin-left: 13rem;
        margin-top: 10rem;

        #mundo {
            text-decoration: line-through;
        }
    }

    h1::after {
        background-color: #0000EC;
        border-radius: 50%;
        content: '';
        height: 8px;
        margin: 3.6rem 0.25rem;
        position: absolute;
        width: 8px;
    }

    p {
        @extend %texto-parrafos;
        height: 48px;
        margin-left: 15vw;
        width: 628px;
    }

    .boton {
        @extend %boton;    
        margin: 7vh 15vw;        
        width: 15vw;

        a {
            color: #060A24;
            cursor: pointer;
            display: block;
            font-family: $plex-mono;
            font-size: 18px;    
            line-height: 50px;
            margin: auto;
            text-align: center; 
            text-decoration: none;
        }

        a:hover {
            @extend %hover-a;
        }        
    }

    .boton:hover {
        @extend %hover-boton;
    }
}

.episodios {
    position: relative;

    .color-de-fondo {
        @extend %gradiente-color-de-fondo;
        height: 900px;
        position: absolute;
        transform: skewY(-7deg);
        width: 100%;
        z-index: -1;
    }

    .podecasts {
        position: relative;
        z-index: 0; 

        .subtitulos {
            color: #ffffff;
            font-family: $plex-sans;
            font-size: 48px;
            margin-bottom: 2rem;
            margin-left: 13rem;
            padding-top: 5rem;
        }

        .spotify {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
         
            iframe {
                border-style: none;
                height: 20rem;
                margin: 0;
                width: 35rem;
            }
        }
    }
}

.nosotros {
    display: flex;
    margin-top: -8rem;

    figure {

        img {
            height: 44rem;
            margin-left: 10rem;
            margin-top: 5rem;
            width: 30.52rem;
        }
    }

    .nosotros-texto {
        margin-left: 5rem;
        margin-top: 18rem;

        .subtitulos {
            color: #060A24;
            font-family: $plex-sans;
            font-size: 48px;
            margin-bottom: 2rem;
        }

        p {
            @extend %texto-parrafos;
            height: 7rem;
            margin-bottom: 1rem;
            width: 30rem;

        }
    }
}

.entrevistas {

    .subtitulos {
        @extend %subtitulos;
        margin-top: 8rem;
    }
    
    .galeria {
        display: flex;
        flex-flow: row wrap;
        margin: 0%;

        .fotos {
            height: 50%;
            margin: 0%;
            width: 33.33%;
        }
    }
}

.temas {

    .subtitulos {
        @extend %subtitulos;    
        margin-top: 4rem;
    }

    .iconos {
        display: flex;
        flex-flow: row wrap; 
        justify-content: space-between;
        margin: 3rem 20rem;

        figure {
            margin: 0%;
            width: auto; 

            img {
                display: block;
                height: 5rem;
                margin: auto;
                width: 5rem;
            }
    
            figcaption {
                color: #060A24;
                font-family: $plex-sans;
                font-size: 24px;
                margin-top: 2rem;
                text-align: center;
                width: 10rem;
            }
        }
    }
}

.novedades {

    .color-de-fondo {
        clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
        @extend %gradiente-color-de-fondo;
        height: 30rem;
        margin: 0%;

        .novedades-contenedor {
            display: flex;
            flex-flow: column;
            justify-content: space-around;

            p {
                color: #FFFFFF;
                font-family: $plex-sans;
                font-size: 48px;
                margin-top: 10rem;
                text-align: center;
            }
    
            .boton {
                @extend %boton;  
                margin: 2rem 33rem;
                width: 25vw;
    
                a {
                    color: #060A24;
                    cursor: pointer;
                    display: block;
                    font-family: $plex-mono;
                    font-size: 18px;    
                    line-height: 50px;
                    margin: auto;
                    text-align: center; 
                    text-decoration: none;
                }

                a:hover {
                    @extend %hover-a;
                }
            }

            .boton:hover {
                @extend %hover-boton;               
            }
        }
    }
}

footer {
    display: flex;
    flex-flow: row;
    height: 5rem;

    p {
        @extend %texto-parrafos;
        line-height: 28px;
        margin-left: 10rem;
        margin-top: 1.5rem;
        width: 80%;
    }

    .redes-sociales {
        margin-top: 1.5rem;
        width: 20%;

        i {
            width: 15%;
        }
    }
}

@media screen and (min-width: 100px) and (max-width: 400px) {

    .encabezado {
        display: block;
        height: 60px;
        width: 100vw;

        .menu {
            
            .logo {
                margin: 1rem 1rem;
                width: 50%;
    
                #logo-image {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }

            .boton-menu {
                position: absolute;
                visibility: hidden;
            }

            label {
                position: relative;
                visibility: visible;
                width: 50%;

                i {
                    float: right;
                    margin-right: 0.5rem;
                    margin-top: 1rem;
                }
            }
            .menu-lista {
                position: absolute;
                visibility: hidden;
            }

            #boton-menu:checked ~ .menu-lista {
                background-color: #0000EC;
                clear: both;
                display: block;
                margin: 0;
                margin-top: 60px;
                visibility: visible;
                width: 100vw;

                li {
                    list-style: none;
                    margin: 1.5rem 1rem;

                    a {
                        color: #ffffff;
                        font-family: $plex-mono;
                        text-decoration: none;
                    }
                }
            }
        }
    }  

    .introduccion {
        width: 100%;

        h1 {
            font-size: 36px;
            line-height: 42px;
            margin-left: 2rem;
            margin-top: 5rem;
            width: 60%;
        }

        h1::after {
            background-color: #000000;
            border-radius: 50%;
            content: '';
            height: 5px;
            margin-top: 30px;
            position: absolute;
            width: 5px;
        }

        p {
            font-size: 14px;
            height: 30%;
            line-height: 22px;
            margin: 2rem;
            text-align: justify;
            width: 85%;
        }

        .boton {
            height: 5%;
            margin: 1rem 2rem;
            margin-bottom: 3rem;
            width: 85%;
        }
    }

    .episodios {       

        .color-de-fondo {
            height: 1200px;
        }

        .podecasts {

            .subtitulos {
                font-size: 36px;    
                line-height: 42px;
                margin-bottom: 1rem;
                margin-left: 2rem;
                padding-top: 3rem;
            }

            .spotify {

                iframe {
                    height: 15rem;
                    width: 20rem;
                }
            }
        }
    }

    .nosotros {
        flex-flow: column;
        margin-top: 0rem;

        figure {

            img {
                height: 30rem;
                margin-left: 1rem;
                margin-top: 2rem;
                width: 22rem;           
            }
        }

        .nosotros-texto {
            margin-left: 2rem;
            margin-top: 3rem;

            .subtitulos {
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 1rem;
                width: 50%;
            }

            p {
                margin-top: 3rem;
                width: 95%;
            }
        }
    }

    .entrevistas {

        .subtitulos {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 1rem;
            margin-left: 2rem;
            margin-top: 2rem;
            width: 50%;   
        }

        .galeria {

            .fotos {
                width: 100%;
            }            
        }
    }

    .temas {

        .subtitulos {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 1rem;
            margin-left: 2rem;
            margin-top: 2rem;
            width: 80%;
        }

        .iconos {
            flex-flow: column;
            margin: 3rem 2rem;

            figure {
                align-items: center;
                display: flex;
                flex-flow: column;

                figcaption {
                    margin: 2rem 0rem;
                }
            }
        }
    }

    .novedades {

        .color-de-fondo {
            clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
            height: 20rem;

            .novedades-contenedor {
                align-items: center;

                p {
                    font-size: 36px;
                    line-height: 42px;
                    margin-top: 5rem;
                    text-align: center;
                    width: 70%;
                } 

                .boton {
                    height: 5%;
                    margin: 1rem 2rem;
                    margin-bottom: 3rem;
                    width: 85%;
                }
            }
        }
    }

    footer {
        align-items: center;
        display: flex;
        flex-flow: column;
        margin-bottom: 4rem;
        width: 100%;

        .derechos {
            font-size: 14px;
            line-height: 22px;
            margin-top: 2rem;
            margin-left: 0rem;
            margin-right: 0;
            text-align: center;
            width: 80%;
        }

        .redes-sociales {
            align-items: center;
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;

            i {
                margin: 0rem 1rem;
            }
        }
    }
}    